body {
    background-image: url("../imagens/bg.png");
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 19px;
    color: #ffff;
    font-family: 'roboto';
}


ul{
    display: flex; 
    justify-content: center;    
}

li img{
    background-color: rgb(3, 128, 87);
    width: 18px; 
}

.menu-sup{
    list-style-type: none;
    margin: 0 70px;
    position: relative;
    padding: 5px 30px;
    background: transparent;
    cursor: pointer;
    text-decoration: underline rgb(101, 159, 101);
    size: 20px;
}
a {
    text-decoration: none;
    color: #ffff;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.apresent::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

main {
    margin: 35px 0;
    text-align: center;
}

p{
    margin: 35px 0;
    width: 640px;
    height: 235px;
    text-align: justify;
    display: inline-flex;
}

.mudar-btn {
    position: absolute;
    bottom: 7%;
    width: 7rem;
    height: 2rem;
    left: 7%;
    background: rgb(1, 26, 21);
    border-radius: 0.4rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.mudar-btn span{
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: #e1eae9;
}

.mudar {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(114, 183, 35);
    border-radius: 0.4rem;
    transition: all 0.3s linear;
}

.quadr .mudar {
    left: 50%;
  }

footer{
    display: flex; 
    justify-content: center; 
}

footer img{
    margin: 15px;
}
